/* colores */
body {
  background-color:#169c9d;
  margin: 30px 50px 35px 200px;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10;
}
p2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12;
  font-weight: bold;
  color:#b02e26;
}