/* colores */
body {
  background-color:#169c9d;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10;
}
p2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 12;
  font-weight: bold;
  color-scheme:#b02e26;
}